/* CSS HEX */
:root {
--caf-noir: #46351dff;
--reseda-green: #646f4bff;
--cadet-gray: #839d9aff;
--carolina-blue: #7bb2d9ff;
--ash-gray: #bfd2bfff;
}
/* CSS HSL */
/* --caf-noir: hsla(35, 41%, 19%, 1);
--reseda-green: hsla(78, 19%, 36%, 1);
--cadet-gray: hsla(173, 12%, 56%, 1);
--carolina-blue: hsla(205, 55%, 67%, 1);
--ash-gray: hsla(120, 17%, 79%, 1); */

/* SCSS HEX */
/* $caf-noir: #46351dff;
$reseda-green: #646f4bff;
$cadet-gray: #839d9aff;
$carolina-blue: #7bb2d9ff;
$ash-gray: #bfd2bfff; */

/* SCSS HSL */
/* $caf-noir: hsla(35, 41%, 19%, 1);
$reseda-green: hsla(78, 19%, 36%, 1);
$cadet-gray: hsla(173, 12%, 56%, 1);
$carolina-blue: hsla(205, 55%, 67%, 1);
$ash-gray: hsla(120, 17%, 79%, 1); */

/* SCSS RGB */
/* $caf-noir: rgba(70, 53, 29, 1);
$reseda-green: rgba(100, 111, 75, 1);
$cadet-gray: rgba(131, 157, 154, 1);
$carolina-blue: rgba(123, 178, 217, 1);
$ash-gray: rgba(191, 210, 191, 1); */

/* SCSS Gradient */
/* $gradient-top: linear-gradient(0deg, #46351dff, #646f4bff, #839d9aff, #7bb2d9ff, #bfd2bfff);
$gradient-right: linear-gradient(90deg, #46351dff, #646f4bff, #839d9aff, #7bb2d9ff, #bfd2bfff);
$gradient-bottom: linear-gradient(180deg, #46351dff, #646f4bff, #839d9aff, #7bb2d9ff, #bfd2bfff);
$gradient-left: linear-gradient(270deg, #46351dff, #646f4bff, #839d9aff, #7bb2d9ff, #bfd2bfff);
$gradient-top-right: linear-gradient(45deg, #46351dff, #646f4bff, #839d9aff, #7bb2d9ff, #bfd2bfff);
$gradient-bottom-right: linear-gradient(135deg, #46351dff, #646f4bff, #839d9aff, #7bb2d9ff, #bfd2bfff);
$gradient-top-left: linear-gradient(225deg, #46351dff, #646f4bff, #839d9aff, #7bb2d9ff, #bfd2bfff);
$gradient-bottom-left: linear-gradient(315deg, #46351dff, #646f4bff, #839d9aff, #7bb2d9ff, #bfd2bfff);
$gradient-radial: radial-gradient(#46351dff, #646f4bff, #839d9aff, #7bb2d9ff, #bfd2bfff); */

header {
    background-color: rgb(34, 134, 14);
    height: 800px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: url("/images/pexels-taryn-elliott-6743238.jpg");
    background-size: cover;
    background-position: center;
}
.title {
    font-size: 50px;
}
.quote {
    background-color: var(--ash-gray);
    border: solid black 2px;
}